@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer utilities {
  .glass-panel {
    @apply bg-slate-900/50 backdrop-blur-md border border-slate-700/50;
  }
}

body {
  @apply bg-gray-950 text-slate-100;
}
